@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: linear-gradient(120deg, #6a5af9 0%, #574ace 100%);
	/* overflow: hidden; */
}
hr {
	margin: 10px auto;
	width: 55%;
}
a {
	text-decoration: none;
	color: inherit;
	font-weight: 700;
	padding: 5px;
	border-radius: 10px;
	transition: all 0.3s ease-in-out;
}
a:hover {
	color: #6a5af9;
	background: #fff;
}
header {
	color: #fff;
	font-size: 2rem;
	font-weight: 500;
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
}
.wrapper {
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 50px;
}
.wrapper .time {
	height: 100px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.wrapper .time span {
	font-size: 2rem;
	width: 100px;
	text-align: center;
	font-weight: 500;
	color: #333;
}
.wrapper .time span.colon {
	width: 10px;
}
.time span.ms-colon,
.time span.millisecond {
	color: #6a5af9;
}
.wrapper .buttons {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 20px;
	width: 420px;
}
.buttons.mobile {
	display: none;
}
.buttons button {
	padding: 10px 20px;
	outline: none;
	border: none;
	margin: 0 5px;
	color: #6a5af9;
	font-size: 20px;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease-in-out;
}
.buttons button.active,
.buttons button.stopActive {
	cursor: not-allowed;
	opacity: 0.5 !important;
}

.start {
	position: absolute;
	width: 100%;
	top: 0;
	left: -5px;
	transition-delay: 0.2s !important;
	z-index: 2;
}
.start.clicked {
	width: 100px;
	transition-delay: 0s !important;
}
.start.clicked + .stop,
.start.clicked ~ .reset {
	opacity: 1;
	visibility: visible;
}
.stop,
.reset {
	opacity: 0;
	visibility: hidden;
	transition-delay: 0s;
}
.timeList {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
	width: 300px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.timeList.show {
	opacity: 1;
	visibility: visible;
}
.times {
	padding: 10px;
	max-height: 200px;
	overflow-y: auto;
	background: #fff;
	border-radius: 10px;
	text-align: center;
}
.timeItem {
	position: relative;
	list-style: none;
	border-radius: 10px;
}
.timeList .times::-webkit-scrollbar {
	width: 5px;
}
.time-id {
	font-size: 1.2rem;
	font-weight: 500;
	color: #6a5af9;
	position: absolute;
	margin: auto;
	left: 50px;
}
.prevTime {
	font-size: 1.2rem;
	font-weight: 500;
	color: #fff;
	background: #6a5af9;
	padding: 10px;
	animation: show 0.5s ease-in-out forwards;
}
.prevTime .time-id {
	color: #fff;
	position: relative;
	margin: 0;
	left: 0;
}
@media only screen and (max-width: 425px) {
	header {
		font-size: 1.5rem;
		white-space: normal;
		width: 100%;
		padding: 0 80px;
		text-align: center;
	}
	.wrapper .time {
		height: 50px;
	}
	.wrapper .time span {
		font-size: 1rem;
		width: 50px;
	}
	.wrapper .buttons {
		display: none;
	}
	.wrapper .buttons.mobile {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-top: 20px;
        z-index: 99;
	}
	.start.mobile {
		position: relative;
		width: auto;
	}
	.stop.mobile,
	.reset.mobile {
		opacity: 1;
		visibility: visible;
	}
	button.mobile {
		display: flex;
		justify-content: center;
		align-items: center;
	}
    .timeList {
        bottom: 10px;
    }
}
